<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>查看购物车界面</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/theme/favicon.png">
    <!-- Pignose Calender -->
    <link href="plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="css/theme/style.css" rel="stylesheet">

</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header">
        <div class="brand-logo">
            <a href="index.html">
                <b class="logo-abbr"><img src="images/theme/logo.png" alt=""> </b>
                <span class="logo-compact"><img src="images/theme/logo-compact.png" alt=""></span>
                <span class="brand-title">
                        <img src="images/theme/logo-text.png" alt="">
                    </span>
            </a>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header">
        <div class="header-content clearfix">

            <div class="nav-control">
                <div class="hamburger">
                    <span class="toggle-icon"><i class="icon-menu"></i></span>
                </div>
            </div>
            <div class="header-left">
                <div class="input-group icons">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i
                                class="mdi mdi-magnify"></i></span>
                    </div>
                    <input type="search" class="form-control" placeholder="搜索..."
                           aria-label="Search Dashboard">
                    <div class="drop-down animated flipInX d-md-none">
                        <form action="#">
                            <input type="text" class="form-control" placeholder="Search">
                        </form>
                    </div>
                </div>
            </div>
            <div class="header-right">
                <ul class="clearfix">
                    <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                        <i class="mdi mdi-email-outline"></i>
                        <span class="badge badge-pill gradient-1">3</span>
                    </a>
                        <div class="drop-down animated fadeIn dropdown-menu">
                            <div class="dropdown-content-heading d-flex justify-content-between">
                                <span class="">3 New Messages</span>
                                <a href="javascript:void()" class="d-inline-block">
                                    <span class="badge badge-pill gradient-1">3</span>
                                </a>
                            </div>
                            <div class="dropdown-content-body">
                                <ul>
                                    <li class="notification-unread">
                                        <a href="javascript:void()">
                                            <img class="float-left mr-3 avatar-img" src="images/theme/avatar/1.jpg"
                                                 alt="">
                                            <div class="notification-content">
                                                <div class="notification-heading">Saiful Islam</div>
                                                <div class="notification-timestamp">08 Hours ago</div>
                                                <div class="notification-text">Hi Teddy, Just wanted to let you ...
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="notification-unread">
                                        <a href="javascript:void()">
                                            <img class="float-left mr-3 avatar-img" src="images/theme/avatar/2.jpg"
                                                 alt="">
                                            <div class="notification-content">
                                                <div class="notification-heading">Adam Smith</div>
                                                <div class="notification-timestamp">08 Hours ago</div>
                                                <div class="notification-text">Can you do me a favour?</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void()">
                                            <img class="float-left mr-3 avatar-img" src="images/theme/avatar/3.jpg"
                                                 alt="">
                                            <div class="notification-content">
                                                <div class="notification-heading">Barak Obama</div>
                                                <div class="notification-timestamp">08 Hours ago</div>
                                                <div class="notification-text">Hi Teddy, Just wanted to let you ...
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void()">
                                            <img class="float-left mr-3 avatar-img" src="images/theme/avatar/4.jpg"
                                                 alt="">
                                            <div class="notification-content">
                                                <div class="notification-heading">Hilari Clinton</div>
                                                <div class="notification-timestamp">08 Hours ago</div>
                                                <div class="notification-text">Hello</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </li>
                    <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                        <i class="mdi mdi-bell-outline"></i>
                        <span class="badge badge-pill gradient-2">3</span>
                    </a>
                        <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                            <div class="dropdown-content-heading d-flex justify-content-between">
                                <span class="">2 New Notifications</span>
                                <a href="javascript:void()" class="d-inline-block">
                                    <span class="badge badge-pill gradient-2">5</span>
                                </a>
                            </div>
                            <div class="dropdown-content-body">
                                <ul>
                                    <li>
                                        <a href="javascript:void()">
                                            <span class="mr-3 avatar-icon bg-success-lighten-2"><i
                                                    class="icon-present"></i></span>
                                            <div class="notification-content">
                                                <h6 class="notification-heading">Events near you</h6>
                                                <span class="notification-text">Within next 5 days</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void()">
                                            <span class="mr-3 avatar-icon bg-danger-lighten-2"><i
                                                    class="icon-present"></i></span>
                                            <div class="notification-content">
                                                <h6 class="notification-heading">Event Started</h6>
                                                <span class="notification-text">One hour ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void()">
                                            <span class="mr-3 avatar-icon bg-success-lighten-2"><i
                                                    class="icon-present"></i></span>
                                            <div class="notification-content">
                                                <h6 class="notification-heading">Event Ended Successfully</h6>
                                                <span class="notification-text">One hour ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void()">
                                            <span class="mr-3 avatar-icon bg-danger-lighten-2"><i
                                                    class="icon-present"></i></span>
                                            <div class="notification-content">
                                                <h6 class="notification-heading">Events to Join</h6>
                                                <span class="notification-text">After two days</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </li>
                    <li class="icons dropdown d-none d-md-flex">
                        <a href="javascript:void(0)" class="log-user" data-toggle="dropdown">
                            <span>English</span> <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                        </a>
                        <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                            <div class="dropdown-content-body">
                                <ul>
                                    <li><a href="javascript:void()">English</a></li>
                                    <li><a href="javascript:void()">Dutch</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="icons dropdown">
                        <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                            <span class="activity active"></span>
                            <img src="images/theme/user/1.png" height="40" width="40" alt="">
                        </div>
                        <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                            <div class="dropdown-content-body">
                                <ul>
                                    <li>
                                        <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void()">
                                            <i class="icon-envelope-open"></i> <span>Inbox</span>
                                            <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                        </a>
                                    </li>

                                    <hr class="my-2">
                                    <li>
                                        <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                    </li>
                                    <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="nk-sidebar">
        <div class="nk-nav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label">主要功能</li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-speedometer menu-icon"></i><span class="nav-text">视频监控</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./video.html">睡眠监督</a></li>
                        <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                    </ul>
                    <ul aria-expanded="false">
                        <li><a href="./video.html">摔倒监督</a></li>
                        <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                    </ul>
                </li>
                <li class="mega-menu mega-menu-sm">
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-globe-alt menu-icon"></i><span class="nav-text">一键购物</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./OnclickShopping.html">点击购物</a></li>
                        <li><a href="./VoiceShopping.html">语音购物</a></li>
                        <li><a href="./ViewShoppingCarts.html">查看购物车</a></li>
                    </ul>
                </li>
                <li class="nav-label">示警功能</li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-envelope menu-icon"></i> <span class="nav-text">警告</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./patientRegistered.html">摔倒报警</a></li>
                        <li><a href="./checkCount.html">睡眠报警</a></li>
                        <li><a href="./OneClickPay.html">一键支付</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">医院服务</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./app-profile.html">查看科室</a></li>
                        <li><a href="./checkCount.html">当前排名</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        <i class="icon-note menu-icon"></i><span class="nav-text">结果</span>
                    </a>
                    <ul aria-expanded="false">
                        <li><a href="./form-basic.html">检查结果</a></li>
                        <li><a href="./historyRecord.html">历史分析</a></li>
                        <li><a href="./form-step.html">医生建议</a></li>
                        <li><a href="./form-editor.html">制定治疗计划</a></li>
                        <li><a href="./form-picker.html">评论</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">购物车内容</h4>
                            <div id="item">


                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                        <tr>
                                            <th>商品名称</th>
                                            <th>商品类型</th>
                                            <th>商品价格</th>
                                            <th>商品数量</th>
                                            <th>相关操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(item,index) in list" :key="index">
                                            <td>{{item.name}}</td>
                                            <td>{{item.type}}</td>
                                            <td>{{item.price}}</td>
                                            <td>{{item.count}}</td>
                                            <td>
                                                <button @click="deleteData(item.id)" class="btn btn-sm btn-outline-secondary">删除</button>
                                            </td>
                                        </tr>

                                        <tr v-if="list.length==0">
                                            <td colspan="5">没有购物车数据</td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
            </p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>

<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<script src="plugins/common/common.min.js"></script>
<script src="js/theme/custom.min.js"></script>
<script src="js/theme/settings.js"></script>
<script src="js/theme/gleek.js"></script>
<script src="js/theme/styleSwitcher.js"></script>

<script>
    new Vue({
        el: "#item",
        data() {
            return {
                id:'',
                name:'',
                type:'',
                price:'',
                count:'',
                list: []
            }
        },
        mounted() {
            this.view();
        },

        methods: {

            view() {
                axios.get("http://localhost:8080/innovation/buy/view").then(resp => {
                    if (resp.data != null) {
                        this.list = resp.data
                    }

                }).catch(function (error) {
                    alert("请求失败！")
                })

            },

            //删除某条记录
            deleteData(id){
                axios.get("http://localhost:8080/innovation/buy/deleteCarts?id="+id).then(res=>{
                    console.log(id);
                    if(res.data==="success"){
                        this.view();
                    }
                }).catch(function(error){
                    alert("请求失败！")
                })
            }
        },
    })

</script>
//
// setCookie(s_id, s_name,s_type,s_price,s_count, exdays) {
// var exdate = new Date(); //获取时间
// exdate.setTime(exdate.getTime() + 24 * 60 * 60 * 1000 * exdays); //保存的天数
// //字符串拼接cookie
// window.document.cookie = "id" + "=" + s_id + ";path=/;expires=" + exdate.toGMTString();
// window.document.cookie = "name" + "=" + s_name + ";path=/;expires=" + exdate.toGMTString();
// window.document.cookie = "type" + "=" + s_type + ";path=/;expires=" + exdate.toGMTString();
// window.document.cookie = "price" + "=" + s_price + ";path=/;expires=" + exdate.toGMTString();
// window.document.cookie = "count" + "=" + s_count + ";path=/;expires=" + exdate.toGMTString();
//
// },
// //读取cookie
// getCookie() {
// console.log("success")
// var _this = this;
// if (document.cookie.length > 0) {
// var arr = document.cookie.split('; '); //这里显示的格式需要切割一下自己可输出看下
// for (var i = 0; i < arr.length; i++) {
// var arr2 = arr[i].split('='); //再次切割
// //判断查找相对应的值
// if (arr2[0] == 's_id') {
// _this.shoppingcarts.id = arr2[1];
// //保存到保存数据的地方
// } else if (arr2[0] == 's_name') {
// _this.shoppingcarts.name = arr2[1];
// console.log(_this.shoppingcarts.name)
// }else if (arr2[0] == 's_type') {
// _this.shoppingcarts.type = arr2[1];
// console.log(_this.shoppingcarts.type)
// }else if (arr2[0] == 's_price') {
// _this.shoppingcarts.price = arr2[1];
// console.log(_this.shoppingcarts.price)
// }else if (arr2[0] == 's_count') {
// _this.shoppingcarts.count = arr2[1];
// console.log(_this.shoppingcarts.count)
// }
// }
// }
// },
// //清除cookie
// clearCookie() {
// this.setCookie("", "", -1); //修改2值都为空，天数为负1天就好了
// },
// getTest() {
// console.log("success")
// }
//
// }

<!-- Chartjs -->
<script src="plugins/chart.js/Chart.bundle.min.js"></script>
<!-- Circle progress -->
<script src="plugins/circle-progress/circle-progress.min.js"></script>
<!-- Datamap -->
<script src="plugins/d3v3/index.js"></script>
<script src="plugins/topojson/topojson.min.js"></script>
<script src="plugins/datamaps/datamaps.world.min.js"></script>
<!-- Morrisjs -->
<script src="plugins/raphael/raphael.min.js"></script>
<script src="plugins/morris/morris.min.js"></script>
<!-- Pignose Calender -->
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/pg-calendar/js/pignose.calendar.min.js"></script>
<!-- ChartistJS -->
<script src="plugins/chartist/js/chartist.min.js"></script>
<script src="plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>


<script src="js/theme/dashboard/dashboard-1.js"></script>


</body>

</html>